<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "headbase.html" %}
</head>
<body>

    {% include "base.html" %}

    <div class="container">   
        <p>Bienvenido a Onlyflans, tu destino definitivo en Ñuñoa para disfrutar de los flanes y postres más deliciosos. En nuestra página web, nos dedicamos a ofrecerte una experiencia dulce y única, con una amplia variedad de flanes caseros y postres artesanales, elaborados con ingredientes de la más alta calidad. Ya sea que busques el flan tradicional de vainilla, exquisitos flanes de sabores innovadores, o postres que te harán agua la boca, en Onlyflans encontrarás opciones para todos los gustos. Nos enorgullece brindarte un servicio excepcional y productos que endulzan tu vida, porque en Onlyflans, cada postre es una obra de arte. ¡Descubre tu favorito hoy mismo y disfruta de un momento dulce e inolvidable en el corazón de Ñuñoa!</p>
    </div>

    <div class="container"> {% include "footer.html" %} </div>

</body>
</html>